<!DOCTYPE html>
<html>
<head>
  <title>SurveyOpposum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if session[:author_id].nil? %>
  <%= link_to "Login", authenticate_logout_path %>
<% else %>
  <%= link_to "Logout", authenticate_logout_path %>
<% end %>

<%= yield %>

</body>
</html>
